@{
    ViewData["Title"] = "Startside";
}

<div class="text-center">
    <h1 class="display-4">Frustration</h1>
    <a class="btn-primary btn" asp-controller="Game" asp-action="NewGame">Start nyt spil</a>
</div>
