<ul>
    <li>Der skal bruges 2 spil kort</li>
    <li>2'ere og sorte knægte er vilde kort</li>
    <li>Når man åbner, må man kun lægge sin opgave ned i den runde</li>
    <li>Der gives 11 kort til hver spiller</li>
</ul>

<h2>Point</h2>

<div class="row">
    <div class="col">
        Vilde kort
    </div>
    <div class="col">
        25 point
    </div>
</div>

<div class="row">
    <div class="col">
        Es
    </div>
    <div class="col">
        15 point
    </div>
</div>

<div class="row">
    <div class="col">
        10 til billedkort
    </div>
    <div class="col">
        10 point
    </div>
</div>

<div class="row">
    <div class="col">
        3'ere til 9'ere
    </div>
    <div class="col">
        5 point
    </div>
</div>